# streamlit
# geopy
# pandas
# streamlit-js-eval


# streamlit
# pandas
# plotly
# geopy
# streamlit-js-eval


streamlit>=1.32.0
pandas>=2.0.0
plotly>=5.18.0
geopy>=2.4.0
streamlit-js-eval>=0.1.5
tavily-python>=0.3.3
python-dotenv>=1.0.0